@import './fonts.scss';

body {
  font-family: 'plus-jakarta-sans';
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f6f7f9;
}

input,
button,
textarea:focus {
  outline-width: 0;
}
